<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body>
    <h1>Welcome to Main Page</h1>
    <form action="/upload_video" method="post" enctype="multipart/form-data">
        <input type="file" name="video" accept="video/*">
        <input type="submit" value="Upload Video">
    </form>

    <!-- 추가된 이미지 업로드 폼 -->
    <h2>Upload Image</h2>
    <form action="/upload_image" method="post" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*">
        <input type="submit" value="Upload Image">
    </form>

</body>
</html>
